:root {
    --main-color :#8a2be2 ;
    color: rgb(88, 88, 88);
   
}
.body {
margin-bottom: 40px;


}

.texte-panier {
    margin-left: 10px;
}

.list-vue  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;


}
@media (max-width : 900px) {

    .list-vue {

        grid-template-columns: 1fr;
    }
}
#ajouter__panier {

    background-color: #8a2be2;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
#ajouter__panier:hover {

   
        filter: brightness(80%);
    
    
  
}


.panier {

    color : var(--main-color)
}

.product {
    padding: 40px;
    margin: 20px;
	box-shadow: 0 0 20px #dddddd ;
        max-width: 900px;
   
    
}

.product__image {

    width: 100%;
}





.btn-voir-plus {
    margin: auto;
    text-align: center;
    cursor: pointer;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    box-shadow: 0px 0px 5px 0px black;
    margin-top: 5px;


    color: white;
    background-color: var(--main-color);
}
.btn-voir-plus:hover {
    filter: brightness(80%);



}

.product:hover {

    box-shadow: 0 0px 5px  #000000 ;

}